* {
    font-size: 14px;
    font-family: '微软雅黑', serif !important;
    color: #606060;
    list-style: none;
}

body,
html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #f1f1f1;
}

.hidden {
    display: none;
}

.layui-form-checked[lay-skin=primary] i {
    border-color: #1E9FFF !important;
    background-color: #1E9FFF;
    color: #fff;
}

.layui-form-checkbox[lay-skin=primary]:hover i {
    border-color: #1E9FFF;
    color: #fff;
}


.wrapper.wrapper-content {
    padding: 20px 220px 50px;
}

.clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.headerBox {
    height: 60px;
    background-color: #289ef0;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.headerBox .logobox {
    width: 220px;
    position: relative;
    height: 100%;
}

.headerBox .logobox img {
    width: 80px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.headerBox .navbox {
    display: inline-block;
    position: relative;
    left: 220px;
    top: -60px;
}

.navbox ul li {
    list-style-type: none;
    float: left;
    padding: 0 30px;
    color: white;
    line-height: 58px;
    font-size: 16px;
    font-weight: bold;

}

.navbox ul li:hover {
    color: #289ef0;
    background-color: white;
    cursor: pointer;
}

.rightBox {
    width: 505px;
    height: 60px;
    float: right;
    margin-top: -60px;
}

.btn:hover,
.btn:focus {
    outline: none;
}

.headerBox .left {
    float: right;
    margin-right: 50px;
}

.left .searchbox {
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
    /* height: 40px; */
    margin-top: 9px;
}

.left .searchbox img {

    width: 24px;
    height: 24px;
    margin-top: 3px;
    background-image: url(../imgs/search.jpg);
    border: 0;
}

.btn:hover,
.btn:focus {
    outline: none !important;
}

.popover-content {
    cursor: pointer;
}

.left .searchbox input {
    height: 100%;
    width: 200px;
    padding: 0 8px;
    border: 0;
    font-size: 16px;
    margin-top: 5px;
    color: #808080;
    float: right;
}

.headerBox .right {
    float: right;
    margin-right: 40px;
}

.headerBox .right .userimg {
    width: 40px;
    height: 40px;
    margin: 0 10px 10px 10px;
    border: 2px solid #b5b5b5;
    border-radius: 50px;
    cursor: pointer;
}

.headerBox .right .username {
    color: white;
    line-height: 60px;
    font-size: 18px;
}

.navbox ul .active {
    background-color: white;
    color: #279ef2;
}

.layui-layer-content {
    background: #ffffff;
    border-radius: 5px;
    color: #000 !important;
    border: 1px solid #dadada;
}

.layui-layer-page .layui-layer-content {
    background: #ffffff;
    border: 0;
}

.layui-laypage .layui-laypage-skip {
    background-color: #f1f1f1;
}

.layui-laypage input:focus {
    border-color: #289ef0 !important;
}

.layui-laypage a:hover {
    color: #289ef0;
}

.logout {
    width: 24px;
    margin-left: 20px;
    margin-top: -3px;
    cursor: pointer;
}

.layui-btn-primary:hover {
    border-color: #279EF0;
}

.logOut p {
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
}

.logOut .btn-box button {
    padding: 0 30px;
}

.logOut .btn-box {
    width: 208px;
    margin: 30px auto 0;
}

.ok {
    font-size: 14px;
}

.logOut .layui-btn + .layui-btn {
    margin-left: 30px
}

.logOut .layui-layer-title {
    padding: 0 20px 0 20px;
}

.layui-card-body {
    padding-top: 0px;
    cursor: default;
}

.layui-card-header {
    font-size: 18px;
    margin-top: 15px;
}

a:hover {
    color: #1b1b1b;
}

/* ----------------------(删除)弹窗的css↓---------------------------- */
.yes,
.no {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 30px;
    color: #FFF9EC;
    white-space: nowrap;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    background-color: #1E9FFF;
}

.no {
    background-color: #fff;
    color: #1b1b1b;
    border: 1px solid #dedede;
}

.btn {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 198px;
}

.yes:hover {
    background-color: #40AFFE;
}

.no:hover {
    background-color: #C0C0C0;
    border: 1px solid #dedede;
}

.yes {
    margin: 0 20px 0 0;
}

.openText {
    text-align: center;
    margin-top: 36px;
    font-size: 18px;
}

#Page {
    margin-top: 18px;
}

button {
    cursor: pointer !important;
}

/* layui样式覆盖 */


.layui-layer {
    border-radius: 7px !important;
}

.layui-laypage .layui-laypage-curr {
    top: -3px;
    margin: 0 6px;
}

/*更改项*/
.layui-laypage .layui-laypage-curr .layui-laypage-em {
    top: -0.5px;
    width: 100%;
    height: 98%;
}

/* ------------------------------------重命名弹窗------------------------------------ */

.common-inputLocation {
    width: 595px;
    margin: 25px auto 0;
}

.common-inputLocation span {
    font-size: 16px;
}

.common-inputLocation .common-acquiredValue {
    width: 500px;
    margin: 0 0 0 30px;
    display: inline;
}

.common-btn-box {
    width: 370px;
    position: absolute;
    margin: 0 auto 0;
    left: 0;
    right: 0;
    bottom: 25px;
}

.common-btn-box .common-confirm,
.common-btn-box .common-cancel {
    width: 140px;
    padding: 0;
    height: 30px;
    line-height: 30px;
}

.common-btn-box .common-confirm {
    margin: 0 45px 0 0;
    background-color: #279ef0;
    color: white;
    border: 1px solid #279ef0;
}

.common-btn-box .common-cancel {
    margin: 0 0 0 45px;
}


/* ----------------------(删除)弹窗的css↑---------------------------- */

@media screen and (min-width: 1500px) and (max-width: 1660px) {
    .wrapper.wrapper-content {
        padding: 20px 120px 50px;
    }

    .navbox ul li {
        padding: 0 15px;
    }
}

@media screen and (min-width: 1365px) and (max-width: 1499px) {
    .wrapper.wrapper-content {
        padding: 20px 80px 50px;
    }

    .navbox ul li {
        padding: 0 15px;
    }
}

@media (max-width: 1366px) {

    body,
    html {
        width: 1366px;
    }

    .wrapper.wrapper-content {
        padding: 20px 50px 50px;
        width: 1240px;
    }

    #header {
        width: 1366px;
    }

    .navbox ul li {
        padding: 0 15px;
    }
}
