.centent {
	width: 100%;
}

.centent .header {
	height: 60px;
	background-color: #289ef0;
	border-radius: 6px;
}

body {
	background-color: #f1f1f1;
}

.cententBox {
	padding: 20px 40px 20px 40px;
	background-color: white;
	margin-top: 20px;
	border-radius: 2px;
	
}

.cententBox .title {
	float: left;
}

.cententBox .title li {
	list-style-type: none;
	float: left;
	padding-right: 60px;
}

.contentbox .li_active {
	color: #279ef0;
}

.cententBox .num {
	float: right;
}


.centent .testCentent {
	border: 1px solid #d7d7d7;
	margin-top: 20px;
}

/* .centent .testCentent p {
	height: 40px;
	line-height: 40px;
	padding: 10px 20px;
} */

.newTestButton {
	width: 124px;
	height: 37px;
	margin-left: calc(100% - 150px);
	background-color: #ffffff;
	border: none;
	border-bottom: 2px solid #1a679d;
	color: #27a0ef;
	border-radius: 6px;
	margin-top: 13px;
}

.wrapper .cententBox li:hover {
	color: #37baee;
	cursor: pointer
}

.wrapper .cententBox li {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.wrapper .testCentent .testFunction{
	height: 60px;
	background-color: #f5f5f5;
}
.

