
.content .resources{
	
	
	width: 635px;
	height:357px;
	
}
.content .statistics{
	
	width: 1476px;
	height: 400px;
	background-color: #FFFFFF;
}
.content .task{
	margin-top: -372px;
	margin-left: 655px;
	width: 401px;
	height:357px;
	
}
.content .paper{
	margin-top: -372px;
	margin-left: 1077px;
	width: 401px;
	height:357px;

}






