.content .resources {
	width: calc(33.5% - 20px);
	height: 357px;
	float: left;
	margin-right: 20px;
}

table {
	table-layout: fixed;
}



.content {
	text-align: center;
}

.content .resources tr th:nth-child(2) {
	white-space: nowrap;
}

table tbody tr td,
table tbody tr th {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

.layui-table th {
	border-left: none;
	border-right: none;
	border-top: none;
	background-color: #FFFFFF;
}

.layui-table td {
	border-left: none;
	border-right: none;

}

.left .searchbox {
	border: 1px solid #b5b5b5;
	border-radius: 4px;
	padding: 5px;
	background-color: white;
	/* height: 40px; */
	margin-top: 9px;
	width: 250px;
}

.content .task {
	width: 33%;
	height: 357px;
	float: left;

}

.taskMore {
	font-size: 16px;
	margin-top: -1px;
	color: #9e9e9e;
	cursor: pointer;
}

.layui-card-header {
	font-weight: 600;
	text-align: left;
	padding-left: 33px;
	cursor: default;/*更改项*/
}

.layui-table th {
	font-weight: 600;
	padding-left: 20px;
}

.testPaperMore {
	font-size: 16px;
	margin-top: -1px;
	color: #9e9e9e;
	cursor: pointer;
}

.content .paper {
	width: calc(33.5% - 20px);
	height: 357px;
	float: left;
	margin-left: 20px;

}

.resorceMore {
	font-size: 16px;
	color: #9e9e9e;
	cursor: pointer;
	margin-top: -1px;
}

.content .statistics {
	width: 100%;
	height: 400px;
	background-color: #FFFFFF;
}

table {
	table-layout: fixed;
}

table tbody tr td,
table tbody tr th {

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

.layui-table th {
	border-left: none;
	border-right: none;
	border-top: none;
	background-color: #FFFFFF;
}

.layui-table td {
	border-left: none;
	border-right: none;
	padding: 10px 20px;
}

#taskAccuracyDistribution {
	width: 400px;
	height: 300px;
	float: left;



}

#taskRateDistribution {
	width: 400px;
	height: 300px;
	float: left;
}

#taskNumberDistribution {
	width: 400px;
	height: 300px;
}

#main,
#mian,
#mina {
	width: 400px;
	height: 300px;
	/* float: left; */
	margin: 0 auto;
}

.taskContent tr:hover,
.Resourcesreview tr:hover,
.examinationContent tr:hover {
	background-color: #f2f2f2;
}

.taskContent tr td:nth-child(1),
.Resourcesreview tr td:nth-child(1),
.examinationContent tr td:nth-child(1){
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Lbtask {
	border: none;
	text-align: center;
}

.resorceMore,
.taskMore,
.testPaperMore {
	float: right;
	margin: 0;/*更改项*/
	font-size: 15px;/*更改项*/
}

.layui-table th {
	padding: 10px 20px;
}
