.content .resources {
	width: calc(40% - 20px);
	height: 357px;
	float: left;
	margin-right: 20px;
}

table {
	table-layout: fixed;
}



.content {
	text-align: center;
}



table tbody tr td,
table tbody tr th {

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

.layui-table th {
	border-left: none;
	border-right: none;
	border-top: none;
	background-color: #FFFFFF;
}

.layui-table td {
	border-left: none;
	border-right: none;


}

.left .searchbox {
	border: 1px solid #b5b5b5;
	border-radius: 4px;
	padding: 5px;
	background-color: white;
	/* height: 40px; */
	margin-top: 9px;
	width: 250px;
}

.content .task {
	width: 30%;
	height: 357px;
	float: left;

}

.taskMore {




	
	

	font-size: 16px;
	margin-top: -1px;
	color: #9e9e9e;
	margin-left: 80%;
	cursor: pointer;
}

.layui-card-header {
	font-weight: 600;
}

.layui-table th {
	font-weight: 600;
}

.testPaperMore {





	font-size: 16px;
	margin-top: -1px;
	color: #9e9e9e;
	margin-left: 70%;
	cursor: pointer;

}

.content .paper {
	width: calc(30% - 20px);
	height: 357px;
	float: left;
	margin-left: 20px;

}

.resorceMore {
	font-size: 16px;

	color: #9e9e9e;
	cursor: pointer;


	margin-top: -1px;

	margin-left: 80%;


}

.content .statistics {
	width: 100%;
	height: 400px;
	background-color: #FFFFFF;
}

table {
	table-layout: fixed;
}

table tbody tr td,
table tbody tr th {

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

.layui-table th {
	border-left: none;
	border-right: none;
	border-top: none;
	background-color: #FFFFFF;
}

.layui-table td {
	border-left: none;
	border-right: none;
    padding: 10px 20px;
}

#taskAccuracyDistribution {
	width: 400px;
	height: 300px;
	float: left;



}

#taskRateDistribution {
	width: 400px;
	height: 300px;
	float: left;
}

#taskNumberDistribution {
	width: 400px;
	height: 300px;
}


table th,
table td{
	cursor: default !important;
}