
.content .resources{
	margin-top: 25px;
	margin-left: 223px;
	width: 635px;
	height:357px;
	
}
.content .statistics{
	margin-left: 223px;
	width: 1476px;
	height: 400px;
	background-color: #FFFFFF;
}
.content .task{
	margin-top: -372px;
	margin-left: 878px;
	width: 401px;
	height:357px;
	
}
.content .paper{
	margin-top: -372px;
	margin-left: 1300px;
	width: 401px;
	height:357px;

}






