/* .content {
	width: 98%;
	margin: 0.81cm 20px 30px;
	height: 750px;
	background-color: white;
} */
#title{
	width: calc(100% - 43px);
	height: 60px;
	background-color: #279ef0;
	margin-left: 43px;
	margin-top: 25px;
	border-radius: 5px 5px 0 0;
}
#centered{
	line-height: 60px;
}
#centered span{
	font-size: 16px;
	margin-left: 30px;
	color: white;
}
#newTestPaper{
	font-size: 16px;
	float: right;
	margin-right: 20px;
	margin-top: 10px;
	border-radius: 3px;
	color: #279ef2;
}
.editorialContent{
	float: left;
	width: calc(100% - 43px);
	height: calc(100% - 43px);
	background-color: white;
	margin-left: 43px;
	margin-top: 25px;
	margin-bottom: 20px;
	padding: 0px 0px 30px;
	border-radius: 3px;
}
.sortableitem{
	width: calc(100% - 60px);
	float: left;
	margin-left: 28px;
	margin-top: 25px;
	border: 1px solid #dadada;
}
.functionBox{
	width: 100%;
	height: 50px;
	/* border: 1px solid black; */
	background-color: #f5f5f5;
	margin-top: 20px;
}
.functionBox button{
	font-size: 16px;
	margin-left: 20px;
	margin-top: 12px;
	border: 0;
	background-color: #f5f5f5;
}
.sortableitem .num{
	margin-top: 15px;
	margin-left: 20px;
}
.distance{
	margin-top: 20px;
	margin-left: 30px;
}
img{
	width: 30px;
}
.layui-icon{
	color: #2ba0e3;
}
.footer{
	margin-left: 35%;
<<<<<<< Updated upstream
	border:1px solid red;
=======
	/* border:1px solid red; */
>>>>>>> Stashed changes
	width:740px;
	height:55px;
}
.layui-icon-add-circle{
	color: #79be51;
}
.confirmCompletion{
	background-color: #279ef0;
	color: white;
	width: 110px;
	height: 30px;
	border: 0;
	border-radius: 3px;
	margin-left: 30px;
	margin-top: 10px;
}

/* -----------------窗口部分--------------------- */
.delete{
	color: red;
}
#newlyBuild{
	width: 650px;
	height: 680px;
	/* margin-left: 50px; */
	/* margin-top: 500px; */
	/* border: 1px solid black; */
}
.selectionType{
	margin-top: 30px;
	margin-left: 100px;
}
.subject , .choiceItem , .analysis{
	margin-top: 20px;
	margin-left: 100px;
}
.choiceItem{
	margin-top: 0px;
}
.manageOptions{
	margin-top: 20px;
	margin-left: 150px;
}
.option{
	width: 400px;
	min-height: 20px;
	/* margin-left: 30px; */
	margin-top: 20px;
	display: inline;
	vertical-align: top;
	resize: none;
}
.titleInputBox , .parseInputBox{
	margin-left: 30px;
}
/* 选项的单选框的位置 */
.choiceItem .layui-form-radio{
	margin-top: 17px;
	margin-left: 0px !important;
}
/* 单选框 */
.layui-form-radio{
	margin-left: 20px;
}
/* 多选框 */
.layui-form-checkbox[lay-skin=primary]{
	margin-top: 20px;
	margin-left: 8px;
}
.titleInputBox , .parseInputBox{
	vertical-align: top;
	width: 400px;
	height: 100px;
	resize: none;
	display: inline;
}
.addOptions , .deleteOptions{
	margin-left: 18px;
	border: 0;
	background-color: white;
}
.choiceItem input{
	margin-top: 20px;
}
#confirmAdd{
	width: 150px;
	height:30px;
	line-height: 30px;
	background-color: #279ef0;
	margin-top: 20px;
	margin-left: calc(100% - 60%);
}
.layui-form-radio>i:hover, .layui-form-radioed>i{
	color:#279ef0;
<<<<<<< Updated upstream
=======
}
.layui-layer-content{
	color: white;
}
.layui-layer-padding{
	color: black;
>>>>>>> Stashed changes
}