body,
html {
	height: 100%;
	width: 100%;
}

.title-header {
	background-color: #289ef0;
	width: 100%;
	height: 60px;
	/* margin-left: 10px; */
	/* margin: 20px -738px; */
	/* position: relative;
    left: 50%; */
	border-radius: 7px 7px 0 0;
}

.title-header-text {
	font-size: 18px;
	color: white;
	line-height: 60px;
	font-weight: 600;
	margin-left: 32px;
}

.title-header-btn {
	border-radius: 5px;
	background-color: white;
	height: 38px;
	font-size: 16px;
	border: none;
	float: right;
	margin-right: 20px;
	line-height: 38px;
	margin-top: 11px;
	color: #279ef2;
}

.content {
	background-color: #FFFFFF;
	width: 100%;
	min-height: 650px;
	margin-top: 20px;
}

table {
	width: calc(100% - 50px);
	margin-left: 25px;
	position: relative;
	top: 5px;
	table-layout: fixed;
}

.hiddenTableList {
	position: absolute;
	top: 45px;
	/* margin: 0 25px; */
}

.content td,
.layui-upload-list td,
th{
	font-size: 14px;
	border-bottom: 1px solid #E2E2E2;
	padding: 0 25px;
	line-height: 45px;
	cursor: default;
}

td:nth-child(1) {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


.centerText {
	text-align: center !important;
	/* vertical-align:middle!important; */
}

/* 选择器选中列表中的第五个td */
.mainTabel>td:nth-child(5) {
	padding-left: 100px;
}

td>button {
	width: 55px;
	height: 25px;
	margin-right: 20px;
	background-color: #FFFFFF;
	border: none;
	float: left;
	cursor:pointer;
}

td button:hover {
	color: #777;
}

thead>tr>td {
	font-weight: 600;
	font-size: 16px;
}

th {
	text-align: left;
	font-size: 16px;
}

.mainTabel tr th:nth-child(5){
	padding: 0 31px !important;
}


/* 点击上传课件弹出层按钮 */
.changeFile {
	background: #fff;
	font-size: 14px;
	padding: 5px 18px;
	line-height: initial;
	height: auto;
	margin: 10px 0 0 25px;
	color: #9e9e9e;
}

/* 浮窗边框 */
.layui-layer-iframe {
	border-radius: 6px !important;
}

/* 浮窗标题 */
.layui-layer-title {
	border-radius: 6px 6px 0 0 !important;
	padding: 0 !important;
}

.layui-layer {
	border-radius: 6px !important;
}

.wrapperChangeFile {
	padding: 50px;
}

.layui-layer-page .layui-layer-btn a {
	height: 30px;
	line-height: 30px;
	padding: 0 70px;
	margin: 5px 35px 0;
}

#viewResourceBox {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
}

.layui-laypage a {
	margin-left: 5px;
	margin-right: 5px;
}


/* 音频大小 */
#myAudio {
	width: 500px;
}

tr td a {
	padding-right: 50px;
}

/*编辑资源名弹出层样式*/
#editResNameBox {
	padding: 0 100px 0 180px;
}

.rename {
	width: 500px;
	margin-top: 40px;
}

.editText {
	position: absolute;
	top: 50px;
	left: 100px;
}

.layui-layer-btn a {
	margin-right: 50px;
}

.changeFile:hover {
	border-color: #289ef0;
	color: #252525;
}

/* tr hover样式 */
.mainTabel tbody tr:hover,
.hiddenTableList tbody tr:hover{
	background-color: #eeeeee;
}

.layui-layer-msg {
	color: #000000 !important;
}

#uploadBtn {
	width: 160px;
	text-align: center;
	margin: auto;
	position: fixed;
	left: 0;
	right: 0px;
	top: 590px;
}





.selectPersonnel {
	font-size: 16px;
	color: #5FB878;
}

.timeBox {
	margin-top: 30px !important;
}

.Release {
	position: relative;
	height: 100%;
}

/* 发布弹出层内容-------------------------------------------------------------------------- */
.Release_content {
	padding: 25px 80px 25px 70px;
}

.layui-form-item {
	margin-bottom: 20px;
}

.layui-form-label {
	text-align: left;
	padding-right: 8px;
}


/* 发布任务名称 */
.Release_content .Release_name {
	width: calc(100% - 110px);
	float: left;
}

.Release_content ._search {
	float: left;
	/* display: block; */
	padding: 10px 15px;
	/* width: 110px; */
	font-weight: 400;
	line-height: 20px;
}

.Release_content ._search span {
	float: left;
	color: rgb(82, 186, 140);
}

.resAdd {
	color: #606060!important;
}




.Release_content ._search i {
	color: rgb(82, 186, 140);
	float: left;
}


/* 任务对象选择人员---------------------------------------------------------------------- */
/* 整体 */
.taskUsers {
	width: 300px;
	height: 120px;
	overflow-y: auto;
	border: 1px solid #dadada;
	margin-left: 30px;
	padding: 5px 10px;
}

.personls {
	margin: 0 !important;
}

.Release_content .layui-form-item {
	margin-top: 10px;
}

/*每个人员上下间距 */
.taskUsers p {
	line-height: 20px;
	margin-bottom: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
	/* overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;//设置行数，1超出一行
	-webkit-box-orient: vertical; */
	
	width: 100px;
	/* white-space: nowrap;
	​over-flow: hidden;
	text-overflow: ellipsis; */
	
	
}

/* 名字左浮动 */
.taskUsers p span {
	font-size: 14px;
	float: left;
}

/* icon右浮动 */
.taskUsers p i {
	font-size: 14px;
	float: right;
}
/* 任务对象选择人员---------------------------------------------------------------------- */


/* 任务描述 */
.layui-input-block {
	margin-left: 103px;
}




/* 发布任务按钮-------------------------------------------------------------------------- */
.Release_btn {
	position: absolute;
	margin: 0 auto;
	width: 140px;
	left: 0;
	right: 0;
	bottom: 25px;
}

.Release_btn button {
	width: 140px;
}
/* 发布任务按钮-------------------------------------------------------------------------- */





/* 选择资源 */
#selectResource {
	display: none;
	padding: 50px;
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden;
}

#resource {
	float: left;
	width: 600px;
	margin-left: 35px
}

/* 选择资源确认按钮 */
.resourceSelection {
	width: 140px;
}

/* 选中radio盒子 ----------------------------------------------*/
.radio_box {
	position: relative;
	width: 30%;
}

.radio_box .layui-form-radio {
	position: absolute;
	left: 5px;
	top: 20px;
}

.img-box {
	margin-right: 20px;
	height: 100px;
	border: 1px solid #dadada;
	margin-top: 20px;
}

.img-box img {
	width: 100%;
	height: 100%;
}

.radio_box .resName {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 30%;
}

/* 选中radio盒子 ----------------------------------------------*/


/* 选择资源radio选中颜色 */
.layui-form-radio>i:hover,
.layui-form-radioed>i {
	color: rgb(64, 175, 254);
	margin-top: 20px;
}

.layui-form-select dl dd.layui-this {
	background-color: rgb(64, 175, 254)
}

/* 资源类型文字------------------------------------------------------ */
.layui-nav .layui-nav-item a {
	color: #000000;

}

.layui-nav .layui-this a {
	color: #FFFFFF;

}

.layui-nav .layui-nav-item {
	color: #66AFE9;
	line-height: 30px;
	height: 30px;

}

.layui-nav .layui-this:after,
.layui-nav-bar,
.layui-nav-tree .layui-nav-itemed:after {
    background-color: #1E9FFF;
}

.layui-nav {
	padding:0;
}

.selectResHeader {
	padding: 20px 0 0;
}

.layui-this {
	background-color: #1E9FFF;
	border-bottom: 0px;

}

/* 选择人员弹出层样式---------------------------- */
.selectPersonnel {
	font-size: 16px;
	color: #5FB878;
}

/* ...搜索框 */
#selectPersonnel .iconSearch {
	width: 200px;
	border: 1px solid #C9C9C9;
	border-radius: 6px;
	padding: 3px 10px;
	margin: 0 28px 19px 0px;
	float: right;
}

/* ...复选框 */
.checkAll {
	width: 15px;
	height: 15px;
}

.nameList {
	margin-top: 10px;
	background-color: #FFFFFF;
}

#selectPersonnel {
	padding: 20px;
}

/* 选择人员搜索框 */
.userNameRetrieval {
	width: 150px; 
	height: 30px;
	border: none;
}

.selectTaskUsers {
	border: 1px solid #C9C5C5; 
	height:200px;
	width: 90%;
	margin: auto;
	background-color: rgb(248, 248, 248);
	overflow: auto;
}

.checkboxNameList {
	margin: 15px 0 0 35px;
	display: inline-block;
}

i {
	font-style: normal;
}

/* 日期按钮选中颜色 */
.layui-laydate-footer span:hover{
	color: #279ef0 !important;
}

