.wrapper.wrapper-content>div {
	background: white;
	/* min-height: 600px; */
	padding: 25px 20px;
}
.List p {
	word-wrap:break-word;
}
.con_nav_box .nav_title {
	font-size: 18px;
	font-weight: 600;
}

.sortableitem {
	padding: 1px 0;
}

.wrapper.wrapper-content {
	padding: 20px 220px 20px;
}

.wrapper.wrapper-content .taskBox {
	background: white;
	/*min-height: 600px;*/
	padding: 25px 20px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.con_nav_box .nav_title {
	font-size: 18px;
	font-weight: 600;
}

.con_nav_box .nav_list li {
	float: left;
	padding: 30px 0 15px;
	width: 100px;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
}

.con_nav_box .nav_list li:hover {
	border-bottom: 2px solid #2ba0e3;
	color: #2ba0e3;
}

.con_nav_box .nav_list li.active {
	border-bottom: 2px solid #2ba0e3;
	color: #2ba0e3;
}

.content {
	background-color: rgb(227, 236, 245);
	min-height: 300px;
	padding: 10px;
	box-shadow: 0 1px 4px 0 rgba(180, 180, 180, 0.1) inset;
}

.answer_card {
	background: white;
	border-radius: 3px;
	padding: 25px 30px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.card_left {
	float: left;
}

.card_left p {
	font-weight: 600;
}

.card_left .card {
	margin: 15px 0 15px 10px;
}

.card_left .card li {
	width: 30px;
	height: 30px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: rgb(210, 210, 210);
	float: left;
	margin-right: 10px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	cursor: pointer;
}

.card_left .card li.active {
	background-color: rgb(74, 171, 239);
	box-shadow: 0 1px 4px 0 #2ba0e3;
}

.card_right {
	float: right;
}

.card_right>div {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #2ba0e3;
	color: #fff;
	text-align: center;
	line-height: 60px;
	font-size: 16px;
	box-shadow: 0 1px 4px 0 #2ba0e3;
}

.questionCard {
	margin-top: 10px;
	background: white;
	border-radius: 3px;
	padding: 25px 30px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.questionCard .questionCard_title {
	font-weight: 600;
}

.checkbox_box li,
.radio_box li {
	margin: 10px 0;
}

.radio_box li span:first-child {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
	display: inline-block;
	border: 2px solid #dadada;
	color: #a4a4a4;
	font-weight: 600;
	cursor: pointer;
}

.checkbox_box li span:first-child {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 4px;
	display: inline-block;
	border: 2px solid #dadada;
	color: #a4a4a4;
	font-weight: 600;
	cursor: pointer;
}

.questionCard .question_Dry {
	padding: 10px 5px;
}

.checkbox_box li span:last-child,
.radio_box li span:last-child {
	margin-left: 25px;
	font-size: 16px;
}

.checkbox_box li span:first-child.active,
.radio_box li span:first-child.active {
	border: 2px solid #2ba0e3;
	color: #2ba0e3;
}

.btn-box button {
	float: right;
	margin-left: 20px;
	box-shadow: 0 1px 4px 0 #2ba0e3;
}

/*   资源学习通用样式   */

.LearnContent {
	padding: 10px 0 0 0;
}

.audio {
	width: 75%;
	margin: 0 auto;
}

.audio audio {
	width: 100%;
}

/*  新的列表的绘制   */

.experienceListBox {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
	padding: 15px 20px 25px 20px;
	margin-top: 20px;
	background: white;
}

.experienceListBox .layui-laypage-skip{
	background-color: #f1f1f1 !important;
}

.experienceTitle {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
}

.experienceList li {
	border-bottom: 1px solid #eaeaea;
	padding: 10px 5px;
}

.experienceList li>p {
	line-height: 28px;
}

.experienceList .uName {
	font-weight: 600;
}

.experienceList li p:last-child {
	text-align: right;
}

.experienceList li p:last-child>span {
	margin-right: 20px;
	color: #2ba0e3;
}

.addExperience textarea {
	resize: none;
	width: calc(100% - 20px);
	border: 1px solid #eaeaea;
	height: 80px;
	padding: 10px;
	background: #fafafa;
}

.List:last-child {
	border: 0;
}

.List:hover {
	background-color: #f5f5f5;
}

.addExperience .add {
	padding: 0 35px;
	line-height: 26px;
	height: 26px;
	margin-top: 10px;
	float: right;
}

.addExperience .textNumBox {
	margin-top: 10px;
	line-height: 26px;
	height: 26px;
	float: right;
	margin-right: 20px;
}

#page {
	float: left;
}

.layui-laypage a {
	margin-left: 5px;
	margin-right: 5px;
}

.layui-laypage .layui-laypage-skip {
	background-color: #ffffff;
}

#examinationPaperInformation td:last-child{
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    overflow: hidden;
}


.toView img {
	width: 20px;
	height: 20px;
	margin-top: -3px;
	margin-right: 5px;
}

/*   单独页面兼容  修改了底边的padding值 确保只有视频的时候不会出现滚动条   */
@media screen and (min-width: 1500px) and (max-width: 1660px) {
	.wrapper.wrapper-content {
		padding: 20px 120px 20px;
	}

	.navbox ul li {
		padding: 0 15px;
	}
}

@media screen and (min-width: 1365px) and (max-width: 1499px) {
	.wrapper.wrapper-content {
		padding: 20px 80px 20px;
	}

	.navbox ul li {
		padding: 0 15px;
	}
}

@media (max-width: 1366px) {

	body,
	html {
		width: 1366px;
	}

	.wrapper.wrapper-content {
		padding: 20px 50px 20px;
		width: 1240px;
	}

	#header {
		width: 1366px;
	}

	.navbox ul li {
		padding: 0 15px;
	}
}

.sortableitem .num {
	margin-top: 15px;
	margin-left: 20px;
}

.con_nav_box .nav_list li {
	float: left;
	padding: 30px 0 15px;
	width: 100px;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
}

/* .content {
	width: 98%;
	margin: 0.81cm 20px 30px;
	height: 750px;
	background-color: white;
} */
#title {
	width: 100%;
	height: 60px;
	background-color: #279ef0;
	border-radius: 5px 5px 0 0;
}

#centered {
	line-height: 60px;
}

#centered span {
	font-size: 18px;
	margin-left: 30px;
	color: white;
}

#newTestPaper {
	font-size: 16px;
	float: right;
	margin-right: 20px;
	margin-top: 10px;
	border-radius: 3px;
	color: #279ef2;
}

.editorialContent {
	float: left;
	width: 100%;
	/* height: calc(100% - 43px); */
	min-height: 650px;
	background-color: white;
	/* margin-left: 43px; */
	margin-top: 25px;
	margin-bottom: 20px;
	padding: 0px 0px 30px;
	border-radius: 3px;
}
.sortableitem{
	width: calc(100% - 60px);
	float: left;
	margin-left: 28px;
	border: 1px solid #dadada;
}
.sortableitem + .sortableitem{
	width: calc(100% - 60px);
	float: left;
	margin-left: 28px;
	margin-top: 25px;
	border: 1px solid #dadada;
}

.functionBox {
	width: 100%;
	height: 50px;
	/* border: 1px solid black; */
	background-color: #f5f5f5;
	margin-top: 20px;
}

.functionBox button {
	font-size: 18px;
	margin-left: 20px;
	line-height: 50px;
	border: 0;
	background-color: #f5f5f5;
}

.sortableitem .num {
	margin-top: 15px;
	margin-left: 20px;
}

.distance {
	margin-top: 20px;
	margin-left: 30px;
}

.topicFramework p,
.topicFramework p span{
	font-size: 18px;
}

img {
	width: 30px;
}

.layui-icon {
	color: #2ba0e3;
}

.footer {
	margin-left: 35%;
	width: 740px;
	height: 55px;
}

/* 弹窗位置 */
.layui-layer {
	top: 140px !important;
}

/* 按钮位置 */
.layui-layer-btn {
	padding: 0 293px 12px !important;
}

/* 按钮位置 */
.layui-layer-btn a {
	margin: -15px 5px 0 !important;
}

/* 按钮位置 */
.layui-layer-btn0 {
	width: 160px !important;
	/* height: 20px !important; */
	line-height: 39px;
	text-align: center;
	margin-top: -10px;
}

.analysis {
	width: 600px;
}

.answerContent {
	margin-left: 20px;
	margin-top: 40px;
}

.answerContent p {
	margin-top: 10px;
}

.con_nav_box .nav_list li:hover {
	border-bottom: 2px solid #2ba0e3;
	color: #2ba0e3;
}

.con_nav_box .nav_list li.active {
	border-bottom: 2px solid #2ba0e3;
	color: #2ba0e3;
}

.content {
	background-color: rgb(227, 236, 245);
	min-height: 300px;
	padding: 10px;
	box-shadow: 0 1px 4px 0 rgba(180, 180, 180, 0.1) inset;
}

.answer_card {
	background: white;
	border-radius: 3px;
	padding: 25px 30px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.card_left {
	float: left;
}

.card_left p {
	font-weight: 600;
}

.card_left .card {
	margin: 15px 0 15px 10px;
}

.card_left .card li {
	width: 30px;
	height: 30px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: rgb(210, 210, 210);
	float: left;
	margin-right: 10px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	cursor: pointer;
}

.card_left .card li.active {
	background-color: rgb(74, 171, 239);
	box-shadow: 0 1px 4px 0 #2ba0e3;
}

.card_right {
	float: right;
}

.card_right>div {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #2ba0e3;
	color: #fff;
	text-align: center;
	line-height: 60px;
	font-size: 16px;
	box-shadow: 0 1px 4px 0 #2ba0e3;
}

.questionCard {
	margin-top: 10px;
	background: white;
	border-radius: 3px;
	padding: 25px 30px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.questionCard .questionCard_title {
	font-weight: 600;
}

.checkbox_box li,
.radio_box li {
	margin: 10px 0;
}

.radio_box li div:first-child {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
	display: inline-block;
	border: 2px solid #dadada;
	color: #a4a4a4;
	font-weight: 600;
	cursor: pointer;
}

.checkbox_box li div:first-child {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 4px;
	display: inline-block;
	border: 2px solid #dadada;
	color: #a4a4a4;
	font-weight: 600;
	cursor: pointer;
}

.questionCard .question_Dry {
	padding: 10px 5px;
}

.checkbox_box li div:last-child,
.radio_box li div:last-child {
	display: inline-block;
	white-space:normal;
	word-break:break-all;
	margin-left: 25px;
	font-size: 16px;
	max-width: 1300px;
}

.checkbox_box li div:first-child.active,
.radio_box li div:first-child.active {
	border: 2px solid #2ba0e3;
	color: #2ba0e3;
}

.questionCard .btn-box button {
	float: right;
	/* margin-left: 20px; */
	box-shadow: 0 1px 4px 0 #2ba0e3;
}

.noConfirmRelease {
	font-size: 18px;
	width: 220px;
	margin: 30px auto 0;
	display: block;
}

.confirmRelease {
	font-size: 18px;
	width: 85px;
	margin: 30px auto 0;
	display: block;
}

.CR-btn-box {
	width: 250px;
	margin: 55px auto 0;
}

.CR-btnConfirm {
	width: 100px;
	margin: 0 40px 0 0;
}

.CR-btnCancel {
	width: 100px;
}

.editorialContent {
	padding: 0 !important;
}

.circular {
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border-radius: 50%;
	display: inline-block;
	border: 2px solid #dadada;
	color: #a4a4a4;
	font-weight: 600;
	cursor: pointer;
}

.btn-box button {
	float: none;
}

.logOut .btn-box {
	width: 232px;
	margin: 30px auto 0;
}

.logOut .layui-btn+.layui-btn {
	margin-left: 20px;
}

/*  任务描述板块  */
.taskRemarkBox {
	background: white;
	padding: 25px 20px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
	min-height: 60px;
	margin-top: 20px;
}

.taskRemarkBox .taskRemarktitle {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
}
.taskRemarkBox .taskRemarkContent{
	word-wrap:break-word;
}