.content .resources{
	margin-top: 25px;
	margin-left: 223px;
	width: 635px;
	height:357px;
	
}
.content .statistics{
	margin-left: 223px;
	width: 1476px;
	height: 605px;
	background-color: #FFFFFF;
}
.content .task{
	margin-top: -372px;
	margin-left: 878px;
	width: 401px;
	height:357px;
	
}
.content .paper{
	margin-top: -372px;
	margin-left: 1300px;
	width: 401px;
	height:357px;

}
#title{
	width: 100%;
	height: 60px;
	background-color: #279ef0;
	/* margin-left: 10px; */
	/* margin-top: 25px; */
	border-radius: 7px 7px 0 0;
}
#centered{
	line-height: 60px;
}
#centered span{
	font-size: 16px;
	margin-left: 30px;
	color: white;
}
#newTestPaper{
	border: none;
	font-size: 16px;
	float: right;
	margin-right: 20px;
	margin-top: 10px;
	border-radius: 5px;
	color: #279ef2;
}
#examinationPaperList{
	/* border: 1px solid black; */
	width: 100%;
	min-height: 650px;
	/* margin-left: 10px; */
	margin-top: 20px;
	background-color: white;
}
table{
	width: calc(100% - 40px);
	margin-left: 20px;
	border: 0;
	cellspacing: 1;
}
th {
	font-size: 16px;
	text-align: left;
}
th , td{
	/* border-bottom: 1px solid #eeeeee; */
	height: 50px;
	text-indent: 25px;
	border-bottom: 1px solid #eeeeee;
	/* border: 1px solid black; */
}
td{
	font-size: 14px;
}
.middle{
	text-indent: 0 !important;
	text-align: center;
}
a{
	text-decoration:none
	out-line: none
	/* color: ; */
}
.edit , .selectedTopic , .toView , .delete{
	border: 0;
}
.edit{
	margin-left: -16px;
}
#paging{
	margin-left: 35%;
	margin-top: -30px;
}

/* 弹窗位置 */
.layui-layer{
	top: 140px !important;
}
.inputLocation{
	margin-top: 35px;
	margin-left: 100px;
}
.inputLocation span{
	font-size: 15px;
}
#nameOfExaminationPaper{
	margin-left: 20px;
	width: 480px;
	border-radius: 4px;
}
.layui-input{
	height: 30px;
	display: inline;
}
#confirm{
	margin-left: 210px;
	margin-top: 35px;
	width: 160px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	background-color: #279ef0;
	color: white;
}
.layui-layer-btn{
	padding: 0 293px 12px !important;
}
.layui-layer-btn a{
	margin: -15px 5px 0 !important;
}
.layui-layer-btn0{
	width: 160px !important;
	/* height: 20px !important; */
	line-height: 39px;
	text-align: center;
	margin-top: -10px;
}
.layui-laypage a{
	margin-left: 5px;
	margin-right: 5px;
}